@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Rubik:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.challenge-header h1 {
  font-size: 3.6rem;
  word-spacing: 4px;
  text-align: center;
  margin-top: 5%;
  text-transform: capitalize;
  font-family: "Raleway";
}

.challenge-df {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.challenge-image {
  width: 70%;
}

.challenge-image img {
  width: 88%;
  height: 90%;
  margin-left: 11%;
}

.challenge-text img {
  width: 131px;
  height: 158px;
  background: #c1c1ee;
  padding: 10px;
  clip-path: circle();
}

.color-line-df {
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
  padding-top: 3%;
}

.color-line {
  width: 14%;
  height: 10px;
  background-color: red;
}

.challenge {
  position: relative;
}

.challenge-text-df {
  position: absolute;
  top: 20%;
  left: 5%;
}

.challenge-text {
  border: 1px solid #ffffff;
  box-shadow: #9292ff 0px 0px 9px 0px;
  width: 48%;
  height: 97vh;
  background-color: #fff;
  position: relative;
}

.challenge-text ul li {
  margin-top: 6%;
  font-size: 18px;
  list-style: disc;
}

.challenge-text ul li:first-child {
  margin-top: 0;
}

.challenge-text ul {
  padding: 2% 5% 2% 8%;
}

.puzzle {
  display: flex;
  justify-content: center;
}

.goals {
  position: relative;
  z-index: -1;
  margin-top: 3%;
}

.goal-image img {
  width: 100vw;
  height: 120vh;
}

.goal-header h1 {
  font-family: "Raleway";
  font-size: 3rem;
  text-align: center;
  margin-top: 13%;
}

.goal-color-box {
  width: 30px;
  height: 30px;
  border: 1px solid #003b9b;
  background-color: #073988;
}

#goals-point {
  margin-top: 4%;
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
}

#goals-point > li {
  max-width: 23%;
  font-size: 17px;
  line-height: 1.5;
  word-spacing: 2px;
}

#goals-point li:first-child {
  max-width: 28%;
}

#goals-point > li p {
  margin-top: 15px;
}

#bottom-points p {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 19px;
}

.goal-df {
  position: relative;
}

#bottom-points {
  position: absolute;
  margin-top: 3%;
  margin-left: 12%;
  max-width: 40%;
}

#bottom-points li {
  margin-top: 16px;
  font-size: 16px;
  list-style: disc;
}

#goal-line-one {
  position: absolute;
  left: 8%;
  top: 152%;
  width: 1px;
  height: 150px;
  border: 0.5px solid #2265eb;
}

#goal-line-two {
  position: absolute;
  left: 8%;
  top: 240%;
  width: 100px;
  height: 1px;
  border: 0.5px solid #2265eb;
}

.goal-opacity {
  background-color: #fff;
  width: 100%;
  height: 120vh;
  opacity: 0.9;
  position: absolute;
  top: 0;
}

.goal-text {
  position: absolute;
  top: 0;
}

.strategy-image img {
  margin-left: -5%;
  width: 105%;
  height: 100vh;
  margin-top: 5%;
}

.strategy-image {
  width: 70%;
}

.strategy-df {
  display: flex;
  justify-content: center;
}

.strategy-header h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins";
  margin-top: 3%;
}

.strategy-text {
  width: 50%;
  height: 90vh;
  padding: 1%;
  background-color: #fff;
  border: 1px solid #ffffff;
  box-shadow: #92b0ff 0px 0px 9px 0px;
  position: absolute;
  top: 45%;
  left: 40%;
}

.strategy-execution {
  position: relative;
}

.strategy-text:first-child {
  margin-top: 0;
}

.strategy-text li {
  margin-top: 7%;
  margin-left: 10px;
  list-style: disc;
  font-size: 17px;
}

.st-color-line-df {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.str-text-img {
  background: #85dde7;
  padding: 5px;
  clip-path: circle();
  display: flex;
  justify-content: center;
}

.str-text-img img {
  width: 57px;
  height: 90px;
}
#strategy-color {
  width: 14%;
  height: 10px;
  background-color: rgb(134, 28, 187);
}

.result {
  margin-top: 20%;
  position: relative;
  color: #fff;
}

.result-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.result-opacity {
  width: 100%;
  height: 100vh;
  background-color: #1b3d81;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.result-text {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.result-text-left {
  border-right: 2px solid rgb(0, 236, 0);
  padding: 3 10% 3% 3%;
  width: 43%;
  height: 77vh;
}

.result-text-left h1 {
  font-size: 6rem;
  font-family: "Poppins";
  line-height: 1.3;
  margin-top: 15%;
  margin-left: 10%;
}

#result-w {
  font-size: 8rem;
  font-family: "Poppins";
  line-height: 1;
  margin-top: 15%;
  margin-left: 10%;
}

.result-text-right li {
  font-size: 22px;
  margin-top: 5%;
  font-weight: bolder;
  list-style: disc;
}

.result-text-right ul {
  margin-top: 15%;
  margin-left: 4%;
}
